/* Pop-up designer: http://colorschemedesigner.com/#3i31T4YU8w0w0 */
body {
   background-color: #eff4f4;
   font-family: sans-serif;
   font-size: 12px;
   background-image: url('../images/dsa.png');
   background-position: 100% 40px;
   background-repeat: no-repeat;
   color: #215452;
}
/* No underlining of links */
a {
	text-decoration: none;
}
/* remove colors for links */
a:visited, a:link {
	color: #215452;
}

/* hover color for tables */
.row-hover {
   background-color: #c5e9e9;
}
.row-highlight {
   background-color: #c5e9e9 !important;
}

/* Tables */
th {
	text-align: left;
	background-color: #9bafaf;
	padding: 4px;
	padding-right: 20px;
	border: 1px solid #FFF;
}
/* header is set by tablesorter */
th.header {
	background-image: url('../images/arrow_ns.png');
	background-position: right center;
	background-repeat: no-repeat;
	background-color: #9bafaf;
	cursor: pointer;
	padding: 4px;
	padding-right: 20px;
	border: 1px solid #FFF;
}
/* headerSortUp and headerSortDown are set by tablesorter */
th.headerSortUp {
	background-color: #409898;
	background-image: url('../images/arrow_up.png');
}
th.headerSortDown {
	background-color: #409898;
	background-image: url('../images/arrow_down.png');
}
/* hover class for sortable rows */
tbody.hover > tr:hover {
   background-color: #c5e9e9;
}
/* Give sortable rows a border */
tbody.hover td {
	border: 1px solid #FFF;
	padding: 2px;
}

/* Make br end floats */
br {
   float: none;
}

/* span with a thin border */
.vorteil {
	border: 1px dotted #CCC;
	cursor: pointer;
	padding: 1px;
}

/* headings */
h2 {
	width: 100%;
   color: #a64646;
}
h3 {
	background-image: url('../images/arrow-branch-gyr-16.png');
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 18px;
	cursor: pointer;
}
h4 {
	color: #a64646;
}

/* input fields */
input {
	border: 1px groove #A68646;
}
textarea {
	border: 1px groove #A68646;
}
input.show_disabled {
	color: #A64646;
	font-weight: bold;
}
/* error indication */
input.error {
	border:2px solid #FF0000 !important;
	background-color: #FFBBBB !important;
}

/* tabs */
ul.tabs {
	list-style: none;
	padding-left: 0px;
}

#tab-container li {
	list-style: none;
	display: inline-block;
	padding-right: 8px;
	padding-bottom: 3px;
	padding-top: 5px;
	padding-left: 20px;
	float: left;
	background-image: url(/dsa/images/yellow_right.png);
	background-repeat: no-repeat;
	background-position: left center;
	width: 150px;
}
#tab-container li a, #tab-container li a:visited, #tab-container li a:link #tab-container li a:hover {
	text-decoration: none;
	color: #9bafaf;
}
.tab-inactive {
	font-weight: bold;
	font-size: 18px;
}
.tab-active {
	color: #a64646 !important;
}

#tab-container > div {
	text-align: left;
}

/* legend */
legend {
	font-weight: bold;
	color: #A64646;
	padding-left: 16px;
	background-image: url(/dsa/images/arrow_right_blue.png);
	background-repeat: no-repeat;
	margin-top: 5px;
	display: block;
}

/* labels */
label.error {
	font-weight: bold;
	color: #A64646;
	padding-left: 20px;
	background-image: url(/dsa/images/warning.png);
	background-repeat: no-repeat;
	background-color: #FFECEC;
	background-position: center left;
	display: inline-block;
	/* z-index: 5; */
	position: relative;
	left: 10px;
	/* padding-top: 12px;
	padding-bottom: 12px; */
	border-radius: 10px;
}
label {
	font-weight: bold;
	padding-left: 16px;
	background-image: url(/dsa/images/bullet_orange.png);
	background-repeat: no-repeat;
	margin-top: 5px;
	display: block;
}

/* divs */
#popup {
	z-index: 5;
	background-color: #f5f5b5;
	border: 1px dotted #a68646;
	padding: 5px 8px;
	overflow: auto;
}
/* div with icon to close a popup */
#popup #close {
	text-align: right;
}
#popup #text {
	padding-top: 3px;
	padding-bottom: 3px;
}
#popup #close span {
	cursor: pointer;
	color: #ff3939;
	font-style: italic;
}
/* Small yellow bar below character name */
.value-bar {
	background-color: #fff2d8;
	border: 1px dotted #215452;
	padding: 3px;
	font-size: 11px;
}

#head {
   margin-bottom: 10px;
}
.button_bar {
	margin-top: 5px;
}

.popup {
   width:  240px;
   height: 130px;
   border: 2px solid black;
   background-color: #fff2d8;
   position: absolute;
   padding-bottom: 5px;
}
.caption_left {
   font-weight: bold;
   font-variant: small-caps;
   margin-left: 10px;
   font-style: italic;
   font-size: 14px;
}
div.column {
	float: left;
	margin-left: 8px;
}
/* Used to make a button like look */
.round-button {
	border-radius: 12px;
	padding: 8px;
	border: 1px solid #AAA;
	cursor: pointer;
}
.round-button:hover {
	background-color: #F5F5B5;
}
/* Used for notes in superscript */
.smallnote {
	vertical-align: super;
	font-size: 9px;
}
.smallnote:before {
	content: url(../images/information-balloon.png);
}

/* image */
img {
	vertical-align: text-bottom;
}
/* simpletip */
.tooltip {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	display: none;
	background-color: #F5F5B5;
   border: 1px solid #DECA7E;
   color: #303030;
}
/* Menu */
ol.sub-menu {
	list-style: none;
	padding-left: 3px;
	padding-top: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
}
ol.sub-menu li {
	padding-left: 16px;
	background-image: url(/dsa/images/bullet_orange.png);
	background-repeat: no-repeat;
}

.selected_menu {
	width: 100%;
	background-color: #c5e9e9
}

#div_menu_left a {
   color: #215452;
	text-decoration: none;
}
#div_menu_left a:visited {
   color: #215452;
	text-decoration: none;
}
#div_menu_left a:link {
   color: #215452;
	text-decoration: none;
}
#div_menu_left a:hover {
   color: #a68646;
	text-decoration: none;
}

/* links with images */
a.link-bekijk {
	background-image: url('../images/page_magnify.png');
	background-repeat: no-repeat;
	padding-left: 16px;
	padding-bottom: 5px;
}
a.link-zend {
	background-image: url('../images/email_transfer.png');
	background-repeat: no-repeat;
	padding-left: 16px;
	padding-bottom: 5px;
}
a.link-edit {
	background-image: url('../images/page_white_paint.png');
	background-repeat: no-repeat;
	padding-left: 16px;
	padding-bottom: 5px;
}
a.link-accept {
	background-image: url('../images/accept.png');
	background-repeat: no-repeat;
	padding-left: 16px;
	padding-bottom: 5px;
}
a.link-terug {
	background-image: url('../images/nav/yellow_arrow_undo.png');
	background-repeat: no-repeat;
	padding-left: 16px;
	padding-bottom: 5px;
}
a.link-cancel {
	background-image: url('../images/page_white_delete.png');
	background-repeat: no-repeat;
	padding-left: 16px;
	padding-bottom: 5px;
}
a.link-info {
	background-image: url('../images/information-balloon.png');
	background-repeat: no-repeat;
	padding-left: 16px;
	padding-bottom: 5px;
}
a.link-add {
	background-image: url('../images/plus-24.png');
	background-repeat: no-repeat;
	background-position: left center;
	border-radius: 12px;
	padding: 8px;
	padding-left: 28px;
	font-size: 12px;
	font-variant: small-caps;
	border: 1px solid #AAA;
}
a.link-add:hover {
	background-color: #F5F5B5;
}
a.link-del {
	background-image: url('../images/minus-24.png');
	background-repeat: no-repeat;
	background-position: left center;
	border-radius: 12px;
	padding: 8px;
	padding-left: 28px;
	font-size: 12px;
	font-variant: small-caps;
	border: 1px solid #AAA;
}
a.link-del:hover {
	background-color: #F5F5B5;
}

/* hr elements */
hr {
	border: 0;
	height: 0;
	box-shadow: 0px 0px 10px 1px #a64646;
}
hr:after {
	content: "\00a0";
}

/* Menu buttons */
input.menu-button, input.menu-button-submit, input.menu-button-reset, input.menu-button-selected, input.menu-button-disabled {
	border: none;
	background-color: transparent;
	font-variant: small-caps;
	font-size: 12px;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 4px;
	padding-top: 4px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
        width: 100px;
}
.menu-button:hover {
	background-image: url('../images/button-gradient-hl.png');
	color: #557;
}
.menu-button {
	cursor: pointer;
	color: #FFF;
	background-image: url('../images/button-gradient.png');
}
.menu-button-selected {
	background-image: url('../images/button-gradient-hl.png');
	color: #557;
}
.menu-button-disabled {
	color: #FFF;
	background-image: url('../images/button-gradient-fog.png');
}
.menu-button-submit {
	cursor: pointer;
	color: #FFF;
	background-image: url('../images/button-submit-gradient.png');
}
.menu-button-submit:hover {
	background-image: url('../images/button-submit-gradient-hl.png');
	color: #557;
}
.menu-button-reset {
	cursor: pointer;
	color: #FFF;
	background-image: url('../images/button-reset-gradient.png');
}
.menu-button-reset:hover {
	background-image: url('../images/button-reset-gradient-hl.png');
	color: #557;
}
